:root{ /*Faz referencia a tah <html>*/

    --dark-blue: #363f5f;
}

.container {/*  .NomeDaClass  o ponto é a forma que faz referencia a classe */
    
    width: min(90vw, 800px);
    margin: auto;

}


body {
    background: #A9A9A9;
    font-family:'Poppins', sans-serif;
}


header {/*O header: Ele é o cabeçalho*/

 background: #2d4a22;
 padding: 6rem  10rem;
 text-align: center;
}

#logo {
 color: #fff;
 font-weight: 100;
}
/*=============H2=============*/
h2{
    margin-top: 3.2rem;
    margin-top: 0.8rem;
    color: var( --dark-blue);
    font-weight: normal;
}

.card h3{
font-weight: normal;
font-size: 1rem;
}

.card p {
    font-size: 2rem;
    line-height: 3rem;

    margin-top: 1rem;
} 

.card.green {
    background: #49AA26;
    color: white;
}

/*=============Balance=============*/

#balance {
margin-top: -8rem;

}


#balance h2{

    color: white;
    margin-top:0;
}

/*=============Balance=============*/
.card {
    background: white;
    padding: 1rem 2rem;
    border-radius: 0.25rem;
    margin-bottom: 2rem;
}
/*=============FOOTER=============*/

#data-table {
    width: 100%;

}

/*=============FOOTER=============*/

footer{

    text-align: center;
}